	@media print {
		body {
			visibility: hidden;
		}
		#preView {
			visibility: visible;
		}
	}
	/*this is previous version */
	/*
.css_table{
	display: table;
}
#fillForm {
	display: table-cell;
	padding: 10px;
}	
#preView {
	display:table-cell;
	background-color:aliceblue;
	padding:10px;
}
#preView .title{
	font-size: 20px;
	font-style: italic;
	text-align: center;
	font-family:monospace
}
table {
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid black;
	padding: 5px;
}

.hline {
	text-align: center;
}

tr.emp {
	font-weight: bold;
	border: 2px solid black;
	text-align: left;
}

.text {
	text-align: left;
	font-weight: bold;
}

#inputName {
 border:none;
	border-style:none;
}
*/
